/** @format */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.main_form {
   margin-left: 10em;
   margin-top: 2em;
}
.form_addName {
   font-size: 2em;
   font-style: italic;
}
.form_input {
   text-transform: uppercase;
   padding: 5px;
   border: none;
   outline: none;
   border-bottom: 3px solid #424242;
}
.form_btn {
   margin-top: 5px;
   margin-left: 4px;
   padding: 5px;
   border-radius: 6px;
   color: black;
   background-color: #4fc3f7;
}
.form_btn:hover {
   padding: 7px;
   background-color: #00b0ff;
}
