/** @format */
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
.main_header {
   width: 100%;
   height: 60px;
   background-color: #b3e5fc;
}
.main_header:hover {
   background-color: rgb(12, 78, 80);
}
.main_list {
   display: flex;
   margin-left: 40px;
   font-size: 20px;
}
.main_list_item {
   list-style-type: none;
   padding: 20px;
}
a {
   font-style: oblique;
   font-weight: bold;
   color: #f50057;
   text-decoration: none;
}

a:hover {
   color: cornsilk;
   text-decoration: none;
}
